@inject Datona.Web.Code.WebHelper WebHelper
@inject Localization L
@{
    Layout = "_LayoutBase";
    var BaseViewModel = (Datona.MobilniCisnik.Web.Models.BaseViewModel)ViewData["BaseViewModel"];
}

<header>
    <nav class="navbar navbar-expand-xl navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-0 border-bottom-0 navbar-top-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/List/Home"><img src="/home/images/logo.svg" alt="logo" class="logo"/></a>

            <!--<a class="navbar-brand" href="/List/Home" style="display:none !important">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="130.5 159.7 289.1 50.5"><g fill="#0a369d"><path d="M232.9 178.9c-.7 5.4-5.6 9.3-11.1 9.3h-5.5v14H210v-34.4h13.7c2.8 0 5.6 1.1 7.2 3.4 1.6 2.1 2.4 4.8 2 7.7zm-6.3-1.4c0-2.4-1.9-4.3-4.3-4.3h-6v8.7h6c2.4-.1 4.3-2 4.3-4.4zm14.7-8.7c1.8 0 3.3 1.5 3.3 3.4 0 1.8-1.5 3.4-3.3 3.4s-3.3-1.5-3.3-3.4c0-1.8 1.5-3.4 3.3-3.4zm-3.2 9.9h6.3v23.1h-6.3v-23.1z" /><use xlink:href="#B" /><use xlink:href="#B" x="35.9" /><path d="M355.9 185c0 8-5.2 14.8-12.3 17.2-1.8.6-3.8 1-5.8 1s-4-.4-5.8-1c-7.2-2.4-12.3-9.2-12.3-17.2 0-7.9 5.1-14.7 12.2-17.2 1.9-.7 3.9-1 6-1s4.1.4 6 1c6.8 2.5 12 9.3 12 17.2zm-6.4 0c0-6.5-5.3-11.8-11.8-11.8s-11.8 5.3-11.8 11.8 5.3 11.8 11.8 11.8c6.5.1 11.8-5.3 11.8-11.8zm17.7 11.9h13.5v5.4h-19.9v-34.4h6.3v29zm52.4-11.9c0 8-5.2 14.8-12.3 17.2-1.8.6-3.8 1-5.8 1s-4-.4-5.8-1c-7.2-2.4-12.3-9.2-12.3-17.2 0-7.9 5.1-14.7 12.2-17.2 1.9-.7 3.9-1 6-1s4.1.4 6 1c6.9 2.5 12 9.3 12 17.2zm-6.3 0c0-6.5-5.3-11.8-11.8-11.8s-11.8 5.3-11.8 11.8 5.3 11.8 11.8 11.8 11.8-5.3 11.8-11.8zm-273.311-18.782a3.13 3.13 0 0 1 3.132-3.132h31.316 6.263a12.53 12.53 0 0 1 12.527 12.527A12.53 12.53 0 0 1 180.7 188.14h-3.132a9.4 9.4 0 0 1-9.395 9.395h-18.79a9.4 9.4 0 0 1-9.395-9.395zm37.58 15.658h3.132a6.27 6.27 0 0 0 6.263-6.263 6.27 6.27 0 0 0-6.263-6.263h-3.132zm-43.843 18.79h50.106a3.132 3.132 0 1 1 0 6.263h-50.106a3.132 3.132 0 1 1 0-6.263z" /></g><defs><path id="B" d="M256 185c0 6.5 5.3 11.8 11.8 11.8 2.7 0 5.3-.9 7.4-2.6l4 4.9c-1.7 1.4-3.6 2.4-5.6 3.1-1.9.6-3.8 1-5.8 1s-4-.4-5.8-1c-7.2-2.4-12.3-9.2-12.3-17.2 0-7.9 5.1-14.7 12.2-17.2 1.9-.7 3.9-1 6-1 2 0 4 .4 5.8 1 2.6.9 5 2.2 6.9 4.2l-4.4 4.5c-2.2-2.2-5.2-3.4-8.3-3.4-6.6.1-11.9 5.4-11.9 11.9z" /></defs></svg>
            </a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    @foreach (MenuViewModel menuItem in BaseViewModel.Menu)
                    {
                        var selectedMenu = ViewBag.SelectedMenu ?? "";
                        var cssActive = menuItem.Menu == selectedMenu || selectedMenu.StartsWith(menuItem.Menu + ".") ? "active" : "";
                        @if (menuItem.Childs.Count == 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark @cssActive" href="@menuItem.Url">@menuItem.Text</a>
                            </li>
                        }
                        else
                        {
                            <partial name="_SubMenu" model="menuItem" />
                        }
                    }
                    @if (BaseViewModel.Debug)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="/list/kontakty" data-toggle="dropdown" aria-expanded="false">
                                @L.GetResource("Layout_Pokladny")
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var s in BaseViewModel.Stanice)
                                {
                                    <li class="nav-item dropdown-submenu">
                                        <a class="dropdown-item" href="/mc?ma=@s.macadresa"> @if (s.stanice_blokovana)
                                            {
                                                @L.GetResource("Layout_Blokovano")
                                            }
                                            else
                                            {
                                                @L.GetResource("Layout_Spustit")
                                            } @s.nazev </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        if (BaseViewModel.ZobrazitPokladnu)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/mc">@L.GetResource("Layout_PokladnaPiccolo")</a>
                            </li>
                        }
                    }
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-question-circle"></i>&nbsp;@L.GetResource("Layout_Napoveda")
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item helpdesk_contact">@L.GetResource("Layout_Heldesk")@Html.Raw(BaseViewModel.Helpdesk)</div>
                            <a class="dropdown-item" href="~/Napoveda/Datona.MobilniCisnik.Help.htm">@L.GetResource("Layout_OnlineNapoveda")</a>
                            <a class="dropdown-item" href="~/Napoveda/UG_PiCCOLO_NexGO.pdf">@L.GetResource("Layout_UzivatelskaPrirucka")</a>
                            <a class="dropdown-item" href="~/Napoveda/QG_PiCCOLO_NexGO.pdf">@L.GetResource("Layout_Zaciname")</a>
                            <a class="dropdown-item" href="~/EULA" target="_blank" rel="noopener noreferrer">@L.GetResource("Layout_EULA")</a>
                            <a class="dropdown-item" href="/GDPR" target="_blank" rel="noopener noreferrer">Zásady zpracování osobních údajů </a>
                        </div>
                    </li>
                    @if ((bool)ViewData["Multijazycnost"] == true)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fas fa-globe"></i>&nbsp;@L.GetResource("Layout_Jazyk")
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item @(ViewData["Lang"]?.ToString() == "cs" ? "active" : "")" href="javascript:void(0)" onclick="langSwitch('cs')"><img title="Přepnout do češtiny" class="lang-switcher" src="/Content/images/cz.png" />@L.GetResource("Layout_JazykCesky")</a>
                                <a class="dropdown-item @(ViewData["Lang"]?.ToString() == "en" ? "active" : "")" href="javascript:void(0)" onclick="langSwitch('en')"><img title="Switch to english" class="lang-switcher" src="/Content/images/gb.png" />@L.GetResource("Layout_JazykAnglicky")</a>
                                <!--<partial name="_LanguageSwitcher" />-->
                            </div>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a id="nav-user" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-user"></i>
                            @BaseViewModel.UserName
                        </a>
                        <div id="nav-user-dropdown" class="dropdown-menu">
                            @*<a class="dropdown-item" href="/mc"><i class="fas fa-cash-register"></i> Pokladna PiCCOLO</a>
                            <div class="dropdown-divider"></div>*@
                            <a class="dropdown-item" asp-controller="Home" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> @L.GetResource("Layout_Odhlasit")</a>
                            <!--Michal 3.9.2025-->
                            <!--Změna hesla?-->
                            <a class="dropdown-item" asp-controller="Home" asp-action="ZmenaHesla">@L.GetResource("Layout_ZmenaHesla")</a>
                            <!--Nastavení účtu?-->
                            @await Component.InvokeAsync("TwoFaMenu")
                            <!--Michal 3.9.2025-->
                            <a id="design-standard" class="dropdown-item" href="javascript:void(0)" onclick="SetLayoutCSS('site-orig.css')">Design: Standard</a>
                            <a id="design-modern" class="dropdown-item" href="javascript:void(0)" onclick="SetLayoutCSS('site.css')">Design: Modern</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="main">
    <partial name="_ShowMessage" />
    @RenderBody()
</main>
<div id="modalDetail" class="modal" tabindex="-1" role="dialog" style="z-index: 1050">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content shadow-lg border-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalDetailBody">
            </div>
        </div>
    </div>
</div>

<div id="modalGrid" class="modal" tabindex="-1" role="dialog" style="z-index: 1060">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content shadow-lg border-primary">
            <div class="modal-header">
                <h5 class="modal-title">@L.GetResource("App_Vyberte")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalGridBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">@L.GetResource("App_Storno")</button>
            </div>
        </div>
    </div>
</div>

<div id="modalQuestion" class="modal" tabindex="-1" role="dialog" style="z-index: 1070">
    <div class="modal-dialog shadow-lg border-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalQuestionTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalQuestionBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">@L.GetResource("App_Storno")</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="if (QuestionYesCallback) { QuestionYesCallback(); }">@L.GetResource("App_Ano")</button>
            </div>
        </div>
    </div>
</div>

<div id="modalInfo" class="modal" tabindex="-1" role="dialog" style="z-index: 1080">
    <div class="modal-dialog" role="document">
        <div class="modal-content shadow-lg border-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInfoTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalInfoBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">@L.GetResource("App_Ok")</button>
            </div>
        </div>
    </div>
</div>

<div id="modalStorno" class="modal" tabindex="-1" role="dialog" style="z-index: 1090">
    <div class="modal-dialog" role="document">
        <div class="modal-content shadow-lg border-primary">
            <div class="modal-header">
                <h5 class="modal-title">Storno účtenky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>V menu terminálu zvolte <strong>Vrátit účtenku</strong> a naskenujte  QR kód.</p>
                <img src="" id="modalStornoQrImage" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">@L.GetResource("App_Ok")</button>
            </div>
        </div>
    </div>
</div>

<partial name="_Calendar" />
<link rel="stylesheet" href="~/css/calendar.css" />
<script src="~/js/calendar.js"></script>
<script>
    $('#calendarModal').on('shown.bs.modal', function () {
      if (typeof generateCalendar === 'function') {
        generateCalendar();
        updateCategoryDatalist();
        updateUndoUI();
      }
    });
</script>

<script>
    function OdeslatEmailem() {
        $("#modalTisk").modal("hide");
        ShowModalInput("@L.GetResource("App_OdeslaniUctenkyEmailem")", "@L.GetResource("App_OdeslaniUctenkyEmail")", function () {
            var email = $("#tbModalInputText").val();
            console.log(email);
            if (email) {
                var tisk = $("#preTisk").data("tisk");
                var mailToLink = "mailto:" + email + "?subject=Účtenka&body=" + encodeURIComponent(tisk);
                $("#modalTisk").modal("hide");
                window.location.href = mailToLink;
            } else {
                $("#modalTisk").modal("show");
            }
        });
    };
    function ShowModalInput(title, label, onOk) {
        $("#tbModalInputText").val("");
        $("#modalInputTitle").html(title);
        $("#modalInputLabel").html(label);
        $("#modalInput").data("onOk", onOk);
        $("#modalInput").modal("show");
        $("#tbModalInputText").focus();
    };
    function ModalInputOkOnClick() {
        $("#modalInput").data("okClicked", true);
    };
    function ModalInputCancel() {
        if (!$("#modalInput").data("okClicked"))
            $("#tbModalInputText").val("");
        var onOk = $("#modalInput").data("onOk");
        if (onOk)
            onOk();
    };
    function Tisk() {
        if (HOST.isPOSDevice()) {
            HOST.printPage($("#preTisk").data("tisk"));
        } else {
            $("#modalTisk").modal("hide");
            PrintDiv("preTisk");
        }
    }
    function PrintDiv(divName) {
        var printContents = document.getElementById(divName).outerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
    $(function () {
        $('#modalInput').on('hide.bs.modal', function (e) {
            ModalInputCancel();
        });
    });
</script>

<div class="modal" id="modalTisk" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" onclick="$(this).parent().parent().parent().modal('hide')">
                <h5 class="modal-title" id="titleTisk"></h5>
                <button type="button" class="btn btn-light ml-auto" onclick="OdeslatEmailem()">@L.GetResource("App_OdeslatEmailem")</button>
                <button type="button" class="btn btn-light" onclick="Tisk()">@L.GetResource("App_Vytisknout")</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">@L.GetResource("App_Ok")</button>
            </div>
            <div class="modal-body">
                <div class="modalTiskDiv mx-auto" id="preTisk">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" onclick="OdeslatEmailem()">@L.GetResource("App_OdeslatEmailem")</button>
                <button type="button" class="btn btn-light" onclick="Tisk()">@L.GetResource("App_Vytisknout")</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">@L.GetResource("App_ok")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalInput" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" onclick="$(this).parent().parent().parent().modal('hide')">
                <h5 class="modal-title" id="modalInputTitle"></h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group mt-5 mb-5">
                        <div class="form-group">
                            <label id="modalInputLabel"></label>
                            <input id="tbModalInputText" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn" data-dismiss="modal">@L.GetResource("App_Storno")</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ModalInputOkOnClick()">@L.GetResource("App_ok")</button>
            </div>
        </div>
    </div>
</div>

<!-- 2FA Wizard Modal -->
<script src="~/js/mfa-wizard-inline.js"></script>
<div class="modal" id="mfaWizardModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 1100">
    <div class="modal-dialog" role="document" style="max-width: 400px;">
        <div class="modal-content shadow-lg border-primary">
            <div class="modal-header">
                <h5 class="modal-title">Dvoufaktorové ověření</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">

                <!-- KROK 1: QR + ověření TOTP -->
                <div id="mfaW-step1" class="mfaW-step">
                    <div class="text-center mb-2">
                        <img id="mfaW-qr" alt="QR" style="width:240px;height:240px;border:1px solid #eee;border-radius:6px;">
                    </div>
                    <p class="mb-2" style="font-size:.95rem;">Naskenujte QR v ověřovací aplikaci, případně zadejte manuální kód:</p>
                    <div id="mfaW-manual" class="mb-3" style="font-family:monospace; font-size:1.05rem; letter-spacing:1px;">•••• •••• ••••</div>

                    <input id="mfaW-totp" class="form-control form-control-lg mb-2" placeholder="Kód z aplikace"
                           inputmode="numeric" maxlength="8" autocomplete="one-time-code" />

                    <div id="mfaW-err1" class="alert alert-danger" role="alert" style="display:none;"></div>

                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MFAW.verifyTotp()">Ověřit kód</button>
                </div>

                <!-- KROK 2: Zobrazení záložních kódů -->
                <div id="mfaW-step2" class="mfaW-step" style="display:none;">
                    <div class="alert alert-warning text-left" role="alert" style="font-size:.95rem;">
                        <strong>Uložte si tyto záložní kódy.</strong> Zobrazí se pouze jednou.
                    </div>
                    <div id="mfaW-codes" class="mb-3" style="font-family:monospace; font-size:1.05rem; line-height:1.6;"></div>

                    <div class="text-left mb-2" style="font-size:.95rem;">
                        <input type="checkbox" id="mfaW-saved" />
                        <label for="mfaW-saved">&nbsp;Kódy jsem si uložil/a.</label>
                    </div>

                    <div id="mfaW-err2" class="alert alert-danger" role="alert" style="display:none;"></div>

                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MFAW.confirmSaved()">Pokračovat</button>
                </div>

                <!-- KROK 3: Ověření jednoho záložního kódu (ne spotřeba) -->
                <div id="mfaW-step3" class="mfaW-step" style="display:none;">
                    <div class="alert alert-info text-left" role="alert" style="font-size:.95rem;">
                        Zadejte <strong>jeden</strong> ze záložních kódů pro potvrzení.
                        <strong>Tento kód nebude spotřebován</strong>.
                    </div>

                    <input id="mfaW-backup" class="form-control form-control-lg mb-2" placeholder="Záložní kód" maxlength="32" autocomplete="off" />

                    <div id="mfaW-err3" class="alert alert-danger" role="alert" style="display:none;"></div>

                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MFAW.verifyBackup()">Ověřit a aktivovat</button>
                </div>

                <!-- KROK 4: Hotovo -->
                <div id="mfaW-step4" class="mfaW-step" style="display:none;">
                    <div class="alert alert-success text-left" role="alert" style="font-size:.95rem;">
                        Dvoufaktorové ověření je aktivní. Příště může být požadováno při přihlášení.
                    </div>

                    <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" onclick="MFAW.afterFinish()">Zavřít</button>
                </div>

            </div>
        </div>
    </div>
</div>

<form id="af-login" style="display:none">
    @Html.AntiForgeryToken()
</form>

@RenderSection("Scripts", required: false)
@RenderSection("Styles", required: false)
